.collapse {
    flex-direction: column;

    &__dropdown, &__about__container {
        width: 100%;
        margin-bottom: 20px;

        & h2 {
            font-size: 13px;
        }

        & p {
            font-size: 12px;
        }

        & li {
            font-size: 12px;
        }
    }
}