.navigation {
    height: 100px;

    ul {
        gap: 15px;
    }

    li {
        text-transform: uppercase;
        font-size: 12px;
    }

    img {
        width: 145px;
        height: 47px;
    }
}